* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F4C5F2;
}

h1 {
  font-size: 70px;
  color:#707070; 
  padding: 1rem;
  padding-left: 2rem;
  margin-top: 5rem;
}

footer {
  background: #B2E3EB;
  padding: 1rem;
  padding-left: 2rem;
  text-size: 20pt;
}