* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F4C5F2;
}

h1 {
  font-size: 70px;
  color:#707070; 
  margin-top: 8rem;
}

.inner {
  color:#707070; 
  padding-left:2.5rem;
}

.project-name {
  margin-top: 15rem;
  padding-left: 12rem;
  padding-bottom: 6rem;

}

footer {
  background: #B2E3EB;
  padding: 1rem;
  padding-left: 2rem;
  text-size: 20pt;
  margin-bottom: 0rem;
}